h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.section {
    padding-top: 110px;
}


/*          --------------HEADER--------------           */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 35px;
    max-width: 1200px;
}

.nav__list {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.nav__link {
    padding: 15px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #021206;
    opacity: .5;
    transition: all 250ms linear;
}

.nav__link:hover {
    color: #000;
    opacity: 1;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #24DC9F;
}

.logo__div {
    position: relative;

    border-radius: 50px;
}

.logo__div--outer {
    width: 26px;
    height: 26px;
    margin-right: 6px;

    background: linear-gradient(176.15deg, #8EE7CA 19.68%, #2FEEAF 96.85%);
    box-shadow: 0 4px 70px rgba(155, 215, 195, 0.8);
}

.logo__div--inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;

    background: #FFFFFF;
    border: 1px solid #F9FEFC;
    box-shadow: 0 1px 1px rgba(5, 31, 23, 0.2);
}

.logo__text--span {
    position: relative;
}

.logo__text--span::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    top: 13px;
    left: -2px;

    background: #FEDF8B;
    box-shadow: -4px 1px 80px rgba(246, 216, 135, 0.7);
    border-radius: 56px;
    transform: rotate(-49.66deg);
}

.auth__link {
    padding: 15px 0;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: #021206;
    opacity: 0.7;
    transition: all 250ms linear;
}

.auth__link:hover {
    color: #000;
    opacity: 1;
}

.auth__link:not(:last-child) {
    margin-right: 25px;
}

.auth__link--color {
    padding: 15px 30px;

    color: #FFFFFF;
    background: #F44545;
    border-radius: 6px;
    opacity: 1;
}

/*          -------HERO-------           */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__left {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero__title {
    font-size: 54px;
    font-weight: 600;
}

.hero__title--span {
    background: linear-gradient(154.24deg, #3EFFC0 4.45%, #18CA90 83.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero__text {
    font-size: 21px;
    line-height: 1.6;
    color: #021206;
    opacity: 0.7;
}

.hero__text--span {
    font-weight: 500;
}

.hero__form {
    position: relative;
    max-width: 470px;
}

.hero__form--input {
    position: relative;
    width: 100%;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));

}

.hero__form--button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    padding: 10px 30px;
    width: 120px;
    background: #F44545;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 250ms linear;
}

.hero__form--button:hover {
    color: #000;
}

.hero__stores {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.hero__right {
    max-width: 600px;
    position: relative;
}

.hero__right::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 55px;
    width: 136px;
    height: 136px;
    background: linear-gradient(180deg, #FEDF8B 0%, #FFC16B 100%), linear-gradient(180deg, #FFE6A2 0%, #F9D678 100%);
    box-shadow: -4px 1px 80px rgba(246, 216, 135, 0.7);
    border-radius: 100px;
    z-index: -1;
}

.hero__right::after {
    content: '';
    position: absolute;
    bottom: 25px;
    right: 35px;
    width: 90px;
    height: 90px;
    background: linear-gradient(176.15deg, #8EE7CA 19.68%, #87D2BA 96.85%);
    box-shadow: 0 4px 70px rgba(155, 215, 195, 0.8);
    border-radius: 56px;
    z-index: -1;
}


/*        -------COMPANIES-------       */

.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 53px;
    max-width: 100%;

    background: rgba(142, 230, 201, 0.1);
}


/*    -------SKILlS-------     */

.skills {
    display: flex;
    gap: 30px;
}

.skills__left {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    gap: 30px;
}

.skills__info {
    padding: 30px;
    width: 280px;
    height: 290px;

    border: 1px solid rgba(2, 18, 6, 0.1);
    border-radius: 10px;
    transition: all 250ms linear;
}

.skills__info:hover {
    background: #FFFFFF;
    box-shadow: 0 15px 65px rgba(65, 77, 68, 0.15);
}

.skills__image {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.skills__image--red {
    background: linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
}

.skills__image--green {
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
}

.skills__image--yellow {
    background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
}

.skills__image--pink {
    background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
}

.skills__title {
    margin-top: 25px;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 600;
    color: #021206;
    opacity: 0.8;
}

.skills__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #021206;
    opacity: 0.7;
}

.skills__right {
    width: 550px;
}

.section__title {
    font-size: 45px;
    line-height: 1.5;
    font-weight: 600;
}

.skills__text--size {
    font-size: 18px;
}

.skills__text--margin-top {
    margin-top: 20px;
}

.skills__text--span {
    font-weight: 600;
}

.skills__button {
    padding: 15px 40px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
    background: #282323;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: all 250ms linear;
}

.skills__button:hover {
    background: #F44545;
    color: #000;
}

.skills__link {
    margin-left: 25px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    color: #FF4D4D;
    transition: color 250ms linear;
}

.skills__link:hover {
    color: #000;
}


/*        -------FEATURE-------         */

.feature {
    display: flex;
    gap: 80px;
}

.feature__left {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 520px;
}

.feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.feature__item {
    display: flex;
    gap: 10px;
}

.feature__right {
    position: relative;
    width: 590px;
}

.feature__right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 136px;
    height: 136px;
    background: linear-gradient(176.15deg, #8EE7CA 19.68%, #87D2BA 96.85%);
    box-shadow: 0 4px 70px rgba(155, 215, 195, 0.8);
    border-radius: 100px;
    z-index: -1;
}


/*        --------INFO----------       */
.section--padding-bottom {
    padding-bottom: 110px;
}

.info {
    display: flex;
    gap: 90px;
}

.info__left {
    position: relative;
    width: 50%;
}


.info__left::before {
    content: '';
    position: absolute;
    top: 0;
    right: 7px;
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #FEDF8B 0%, #FFC16B 100%), linear-gradient(180deg, #FFE6A2 0%, #F9D678 100%);
    box-shadow: -4px 1px 80px rgba(246, 216, 135, 0.7);
    border-radius: 100px;
    z-index: -1;


}


.info__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #021206;
    opacity: 0.7;
}

.info__right {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
}


/*        -------SOFTWARE-------        */

.software {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    /*position: relative;*/
    /*padding: 90px 120px;*/
    max-width: 100%;
    background: rgba(142, 230, 201, 0.1);
}

.software__left {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    width: 480px;
}

.software__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #021206;
    opacity: 0.7;
}

.software__button {
    padding: 15px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    color: #FFFFFF;
    background: #F44545;
    border-radius: 5px;
    border: none;
}

.software__right {
    position: relative;
    width: 800px;
}

.software__image {
    position: absolute;
    right: -85px;
    bottom: 0;
    width: 700px;
    height: auto;
}


/*     --------------PRICE--------------  */

.price {
    text-align: center;
    margin-bottom: 120px;
}

.price__text {
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 35px;
    /*padding: 35px 30px;*/
    padding: 35px 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: box-shadow 250ms linear;
}

.card:hover {
    box-shadow: 0 20px 100px rgba(2, 18, 6, 0.15);
}

.card__item {
    display: flex;
    gap: 75px;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid rgba(1, 18, 18, 0.1);
}

.card__item:last-child {
    border-bottom: 1px solid rgba(1, 18, 18, 0.1);
    /*margin-bottom: 40px;*/
}

.card__item--wrap {
    display: flex;
    gap: 10px;
}

.card__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.7;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #021206;
    opacity: 0.5;
}

.card__price {
    font-weight: 600;
    font-size: 43px;
    line-height: 1.0;
    /*text-align: center;*/
    color: #021206;
}


.card__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #021206;
    opacity: 0.7;
}

.card__text--crossed-out {
    text-decoration-line: line-through;
}

.card__text--opacity {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #021206;
    opacity: 0.5;
}

.card__button {
    margin: 0 auto;
    padding: 15px 75px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    color: #F44545;
    background: transparent;
    opacity: 0.9;
    border: 2px solid rgba(244, 69, 69, 0.2);
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms linear;
}

.card__button:hover {
    background: #F55454;
    color: #FFFFFF;
}


/*     -------------FOOTER-----------      */

.footer__container {
    display: flex;
    max-width: 100%;
    /*margin: 0 auto;*/
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
    background: rgba(142, 230, 201, 0.1);
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    width: 235px;
    gap: 20px;
}

.footer__wrap--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(2, 18, 6, 0.7);
}

.footer__wrap--links {
    display: flex;
    gap: 150px;
}

.footer__list {
    display: flex;
    gap: 100px
    /*justify-content: space-between;*/
}

.footer__list--title {
    font-weight: 500;
    font-size: 21px;
    line-height: 1.5;
    color: rgba(2, 18, 6, 0.7);
}

.footer__item {
    width: 145px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(2, 18, 6, 0.7);
}

.address__list {
    display: flex;
    flex-direction: column;
    gap: 10px
}